<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>企业级互联网采购与供应交易平台</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- BUI 分页样式 -->

    <!-- 交易专场 样式 -->
    <link rel="stylesheet" href="/staticFront/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="/staticFront/script/zTree_v3/css/zTreeStyle/zTreeStyle.css" />
    <link rel="stylesheet" href="/buyer-all-demand-front/resources/main.css" />
    <link rel="stylesheet" name="theme" href="" />
</head>

<body>
<div class="layout supplier-layout-1200 clearfix" id="my-project">
    <div height="100%" class="layout-menu-left expand-menu">
        <div class="login-info">
            <div style="background: #5b687b;height:10px;width: 110px;margin-left:45px;" class="border-radius-px3 mg-b25 mg-t5"></div>
        </div>
        <div class="layout-menu-left-ctrl">
            <i class="ivu-icon ivu-icon-navicon" style="font-size: 32px;"></i>
        </div>
        <div>
            <ul class="ivu-menu ivu-menu-dark ivu-menu-vertical" style="width: auto;">
                <li style="background:#293952;padding:15px 15px 30px 15px;" class="clearfix">
                    <div class="clearfix">
                        <div class="fl mg-r10 border-radius-px3" style="background: #5b687b;height:20px;width: 20px;"></div>
                        <div class="fl mg-t5">
                            <div style="background: #5b687b;height:10px;width: 110px;" class="border-radius-px3 mg-b25"></div>
                            <div style="background: #5b687b;height:10px;width: 110px;" class="border-radius-px3"></div>
                        </div>
                    </div> </li>
                <li style="padding:15px;" class="mg-t10">
                    <div class="clearfix" style="height:20px">
                        <div class="fl mg-r10 border-radius-px3" style="background: #5b687b;height:20px;width: 20px;"></div>
                        <div style="background: #5b687b;height:10px;width: 110px;" class="border-radius-px3 mg-b25 mg-t5 fl"></div>
                    </div> </li>
                <li style="padding:15px;">
                    <div class="clearfix" style="height:20px">
                        <div class="fl mg-r10 border-radius-px3" style="background: #5b687b;height:20px;width: 20px;"></div>
                        <div style="background: #5b687b;height:10px;width: 110px;" class="border-radius-px3 mg-b25 mg-t5 fl"></div>
                    </div> </li>
                <li style="padding:15px;">
                    <div class="clearfix" style="height:20px">
                        <div class="fl mg-r10 border-radius-px3" style="background: #5b687b;height:20px;width: 20px;"></div>
                        <div style="background: #5b687b;height:10px;width: 110px;" class="border-radius-px3 mg-b25 mg-t5 fl"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="yRight expand-right-ml ivu-row-flex">
            <div class="ivu-col ivu-col-span-24">
                <div class="supplier-header supplier-portal-header clearfix">
                    <div class="header-nav">
                        <div class="header-search">
                            <ul class="clearfix " style="height:57px;">
                                <li style="width:115px; height:20px;background: #f1f1f3;" class="mg-r20 fl"></li>
                                <li style="width:115px; height:20px;background: #f1f1f3;" class="mg-r20 fl"></li>
                                <li style="width:115px; height:20px;background: #f1f1f3;" class="mg-r20 fl"></li>
                                <li style="width:115px; height:20px;background: #f1f1f3;" class="mg-r20 fl"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layout-breadcrumb clearfix">
                    <div class="inline-block bg-d7dcdf width-px100 height-px10 border-radius-px3"></div>
                    <div class="inline-block mg-l10 bg-d7dcdf width-px100 height-px10 border-radius-px3"></div>
                </div>
                <div class="layout-content">
                    <div class="bg-fff pd-l30 pd-r30">
                        <div class="content__title">
                            <div class="purchaser-border-bottom-px2">
                                <ul class="clearfix " style="height:57px;">
                                    <li style="width:115px; height:20px;background: #f1f1f3;" class="mg-t20 mg-r20 fl"></li>
                                    <li style="width:115px; height:20px;background: #f1f1f3;" class="mg-t20 mg-r20 fl"></li>
                                    <li style="width:115px; height:20px;background: #f1f1f3;" class="mg-t20 mg-r20 fl"></li>
                                    <li style="width:115px; height:20px;background: #f1f1f3;" class="mg-t20 mg-r20 fl"></li>
                                </ul>
                            </div>
                            <div class="clearfix">
                                <div class="fl" style="width:49%;">
                                    <ul class="clearfix mg-b55">
                                        <li style=" height:32px;background: #f2f2f4;" class="mg-t40 fr width-30"></li>
                                        <li style=" height:32px;background: #f2f2f4;" class="mg-t40 mg-r20 fr width-30"></li>
                                        <li style=" height:32px;background: #f2f2f4;" class="mg-t40 mg-r20 fr width-30"></li>
                                    </ul>
                                    <div class="mg-b30" style="height:6px;background:#f8f8f8;"></div>
                                    <div class="mg-b30" style="height:6px;background:#f8f8f8;"></div>
                                    <div class="mg-b50" style="height:6px;background:#f8f8f8;"></div>
                                    <div style="height:140px;background: #f6f6f6;" class="mg-b50"></div>
                                </div>
                                <div class="fl height-px60" style="width:2%;">
                                </div>
                                <div class="fl" style="width:49%;">
                                    <ul class="clearfix mg-b55">
                                        <li style="height:32px;background: #f2f2f4;" class="mg-t40 mg-r20 fl width-30"></li>
                                        <li style="height:32px;background: #f2f2f4;" class="mg-t40 mg-r20 fl width-30"></li>
                                        <li style="height:32px;background: #f2f2f4;" class="mg-t40 fl width-30"></li>
                                    </ul>
                                    <div class="mg-b30" style="height:6px;background:#f8f8f8;"></div>
                                    <div class="mg-b30" style="height:6px;background:#f8f8f8;"></div>
                                    <div class="mg-b50" style="height:6px;background:#f8f8f8;"></div>
                                    <div style="height:140px;background: #f6f6f6;" class="mg-b50"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mg-b30 width-100" style="height:6px;background:#f8f8f8;"></div>
                        <div class="mg-b30 width-100" style="height:6px;background:#f8f8f8;"></div>
                        <div class="mg-b50 width-100" style="height:6px;background:#f8f8f8;"></div>
                        <div class="mg-b50 width-100" style="height:95px;background:#f8f8f8;"></div>
                    </div>
                </div>
            </div>
            <div class="layout-copy" style="height:6px; width: 230px; margin: 10px auto;background:#f8f8f8;"></div>
        </div>
    </div>
</div>

<div id="app"></div>
<script type="text/javascript" charset="utf-8" src="/staticFront/script/uploader/jquery-1.9.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/staticFront/script/uploader/jquery.ui.widget.js"></script>
<!--[if lt IE 10]>
<script type="text/javascript" charset="utf-8" src="/staticFront/script/uploader/jquery.iframe-transport.js"></script>
<script type="text/javascript" charset="utf-8" src="/staticFront/script/uploader/jquery.xdr-transport.js"></script>
<![endif]-->
<script type="text/javascript" charset="utf-8" src="/staticFront/script/uploader/jquery.fileupload.js"></script>
<script type="text/javascript" charset="utf-8" src="/staticFront/script/uploader/jquery.fileupload-process.js"></script>
<script type="text/javascript" charset="utf-8" src="/staticFront/script/uploader/jquery.fileupload-validate.js"></script>
<script type="text/javascript" charset="utf-8" src="/staticFront/script/uploader/image.upload-jquery-website.js"></script>

<script type="text/javascript" charset="utf-8" src="/staticFront/script/zTree_v3/js/jquery.ztree.core.js"></script>
<script type="text/javascript" charset="utf-8" src="/staticFront/script/zTree_v3/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" charset="utf-8" src="/staticFront/script/zTree_v3/js/jquery.ztree.exedit.js"></script>

<script type="text/javascript" charset="utf-8" src="/staticFront/script/ueditor/ueditor.config.ebnew.js"></script>
<script type="text/javascript" charset="utf-8" src="/staticFront/script/ueditor/ueditor.all.min-fix.js"></script>

<script type="text/javascript" charset="utf-8" src="/staticFront/script/mqtt/mqtt.js"></script>

<script type="text/javascript" src="/buyer-all-demand-front/resources/vendors.js"></script>
<script type="text/javascript" src="/buyer-all-demand-front/resources/main.js"></script>
</body>
</html>